<!doctype html>
<html class="no-js" lang="en" ng-app="starwarsstore">
	<head>
		<title>Star Wars Store | Welcome</title>

		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="description" content="The best Star Wars Store ever seen, great products. May the force be with your credid card!">

		<meta property="og:title" content="Star Wars Store | Welcome"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image:secure_url" content="https://startwarsstore.com/assets/img/star-wars-store-logo.png"/>
		<meta property="og:url" content="https://startwarsstore.com"/>
		<meta property="og:description" content="The best Star Wars Store ever seen, great products. May the force be with your credid card!"/>
		<meta property="og:site_name" content="The best Star Wars Store ever seen, great products. May the force be with your credid card!" />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="https://startwarsstore.com" />
		<meta name="twitter:title" content="Star Wars Store | Welcome" />
		<meta name="twitter:description" content="The best Star Wars Store ever seen, great products. May the force be with your credid card!" />
		<meta name="twitter:image" content="https://startwarsstore.com/assets/img/star-wars-store-logo.png" />

		<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
		<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
		<link rel="icon" type="image/png" href="/assets/img/favicon.png">

		<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
		<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon-60x60.png" sizes="60x60">
		<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon-72x72.png" sizes="72x72">
		<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon-114x114.png" sizes="114x114">
		<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon-180x180.png" sizes="180x180">

		<meta name="msapplication-TileImage" content="/assets/img/win8-tile-144x144.png">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-navbutton-color" content="#ffffff">
		<meta name="msapplication-square70x70logo" content="/assets/img/win8-tile-70x70.png">
		<meta name="msapplication-square310x310logo" content="/assets/img/win8-tile-310x310.png">

		<link rel="author" href="https://plus.google.com/u/0/+LucasEstev%C3%A3oDeSouza"/>
		<link rel="canonical" href="https://startwarsstore.com"/>
		<link rel="stylesheet" href="assets/css/app.min.css">
	</head>
	<body>
		<div class="top-bar">
			<div class="top-bar-left">
				<ul class="menu">
					<li class="columns small-12 medium-4 menu-text text-center">Star Wars Store</li>
					<li class="columns small-4 medium-3"><a href="#/product">Products</a></li>
					<li class="columns small-3 medium-2"><a href="#/bag">Bag</a></li>
					<li class="columns small-4 medium-3"><a href="#/login">Login</a></li>
				</ul>
			</div>
		</div>

		<div ng-view></div>

		<footer class="text-center top-bar footer">
			<div><small>by <a href="https://br.linkedin.com/in/lucasestevao">Lucas Estevão</a></small></div>
		</footer>
		<script src="assets/js/app.min.js"></script>
	</body>
</html>
