<section class="row column">
	<div class="large-5 large-centered columns">
		<div class="login-box">
			<div class="row">
				<div class="large-12 columns">
					<form>
						<div class="row">
							<div class="large-12 columns">
								<input type="text" name="Name" placeholder="Name" ng-model="user.name"/>
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<input type="text" name="email" placeholder="Email" ng-model="user.email"/>
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<input type="password" name="password" placeholder="Password" ng-model="user.password" />
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<input type="submit" class="button expanded" value="Sign Up" ng-disabled="saving || !user.name || !user.email || !user.password" ng-click="signup()" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>